{% include 'mobile/common-head.html' %}
<style>
    .usermodule.name{display: none}
    #pagebackground{width: 100%;}
</style>
<link rel="stylesheet" type="text/css" href="http://mahdns-mahouomobile-1251754029.cosgz.myqcloud.com/css/searchout/css.css">
<link rel="stylesheet" type="text/css" href="http://mahdns-mahouomobile-1251754029.cosgz.myqcloud.com/css/searchout/outlist.css">
<script type=text/javascript src="http://mahdns-cdn-1251754029.cosgz.myqcloud.com/v2.1.4/jquery.min.js"></script>

{% include 'mobile/module/applist.html' %}
<div id="header" class="o-wp">
    <img src="http://p61mle8tu.bkt.clouddn.com/20183220.png" width="40%" style="position: absolute;left: 0;right: 0;bottom: 0;top: 0;margin: auto;max-width:300px;">
    <div class="header l"><div class="header-func l">{% include 'mobile/module/user.html' %}</div></div>
    <div class="header r"><div class="header-func r" id="openapplistbutton"><img src="https://ssl1.mahouo.com/image/module-usermodule/2/index-top-more_fun.png"></div></div>
</div>
<div id="search" class="o-wp">
    <form action="/search" name="input" method="get">
            <button type="submit" id="sf-bn">
                    <img src="https://ssl1.mahouo.com/image/mahouo/form-but.png" id="sbtico">
            </button>
                
            <input id="sf-it" name="s" placeholder="" autocomplete="off" value="{{s}}" oninput="myFunction()">
                
            <input name='page' value="1" style="display: none;">
            <input name='charted' value="off" style="display: none;">
            <input name='cacheid' value="{{scroll_id}}" style="display: none;">
            <input name='otcon' value="{{otcon}}" style="display: none;">
    </form>
    <div class="searchmore">
    <a class="search_more a" style="color: #6098ff">全部</a>
        <a class="search_more a" href="https://search.bilibili.com/video?keyword={{s}}" target="_blank">视频</a>
        <a class="search_more a" href="https://music.163.com/#/search/m/?s={{s}}" target="_blank">音乐</a>
    </div>
</div>

<div id="searchmoredata" class="o-wp"><div style="padding-left: 10px;">一共找到{{total_nums}}条相关数据 用时{{end_time}}</div></div>

<div id="sout">
    {% include 'mobile/outlist.html' %}
</div>

{% include 'mobile/footer.html' %}

<div id="pagebackground"><div id="pagebackground-of"></div><img src="https://ssl1.mahouo.com/image/mobile/search_background/20180617.png" width="100%"></div>
{% include 'mobile/statistics-mob.html' %}