<link rel="stylesheet" type="text/css" href="https://mahdns-mahouo-1251754029.cosgz.myqcloud.com/css/more-input20180608.css">
<style>
	.people-list.people_title{color: black;height: auto;line-height: 20px;}
    .people_title.div{width: 100%;height: auto;background-color: #ffffff !important;}
    .people_title.pot{padding-top: 15px;padding-left: 15px;width: 95% !important;height: auto;}
    .people-list.people_head{height: 80px;overflow: hidden;}
    .people-list.people_title{color: black;}
</style>

<div id="company-api"></div>

<div id="authcom">
    <div class="wp-r-put">
        <div id="authcom-api"></div>
    </div>
</div>

<div id="people"></div>
<div id="people_more" class="people_more">
    <div class="people_more_wid">
        <div id="people-api"></div>
    </div>
</div>

<!--
<div class="companypeople_more">
    <div class="people_more_wid">
        <div id="company-people"></div>
    </div>
</div>
-->


<!--
<div class="people_more">
    <div class="people_more_wid">
        <div class="people-list people">
            <div class="people-list people_head">
                <img src="static/2.jpg" width="100%" height="auto">
            </div>
            <div class="people-list people_title">
                <span>雏鹤爱</span>
            </div>
            <div class="people-list people_info">
                <span>Mahouo创始人的妻子</span>
            </div>
        </div>
    </div>
</div>
-->