<option>请选择</option>
<option>你喜欢女装吗?</option>
<option>你喜不喜欢搞基?</option>
<option>如果你突然发现你的老婆是可爱的男孩子你会怎么办?</option>
<option>如果你老妈突然告诉你你有个亲妹妹你会怎么处理?</option>
<option>你觉得以后你能变成富豪吗?</option>
<option>如果你某天起床发现你突然变成女孩子了你会做的第一件事是什么?</option>
<option>如果你的房间里面有鬼你会怎么办?</option>
<option>你的钱包突然空了又没地方住又没朋友你会怎么做?(而且还没饭吃)</option>
<option>你喜欢萝莉吗?</option>
<option>你觉得你们班主任可不可爱?</option>
<option>想象一下你让你们班主任女装的看后感</option>
<option>如果你老爸叫你亲他一口你会怎么做?</option>
<option>万一你的心爱的女儿那天有男朋友你会怎么做?</option>
<option>你学号是多少?(这个问题太没安全性了纯属筹数)</option>
<option>你喜欢带套吗?</option>