<!DOCTYPE HTML>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/header.css">
    <link rel="stylesheet" type="text/css" href="static/css/index-module.css">
    <link rel="stylesheet" type="text/css" href="static/css/index-media.css">
    <script type=text/javascript src="https://mahdns-cdn-1251754029.cosgz.myqcloud.com/v2.1.4/jquery.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miao！喵导航~ 最实用的二次元萌导航 - Mahouo搜索</title>
    <meta name="description" content="Mahouo生态项目 - Mahouo网址大全 喵导航 动漫网址大全 动漫导航 萌导航 动漫 漫画"/>
    <meta name="keywords" content="网址大全 导航 Mahouo搜索引擎 二次元搜索引擎 mahou mahouo.com  mahouo生态圈 动漫搜索引擎 ACG 动漫"/>
</head>

{% include 'index/header.html' %}
{% include 'index/module-topframy.html' %}
{% include 'index/module-commonlycom.html' %}
{% include 'index/module-classificationcom.html' %}
{% include 'index/footer.html' %}
<script type=text/javascript src="static/js/index.js"></script>
{% include 'statistics.html' %}