<!--全局引入开始-->
<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="description" content="Mahouo搜索 最萌的引擎 欢迎调戏 目前处于开发状态 期待更多的新功能上线哟 已全面支持https"/>
<meta name="keywords" content="Mahouo搜索引擎 二次元搜索引擎 mahou mahouo.com  mahouo生态圈 动漫搜索引擎 ACG 动漫"/>

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="https://dns-mahouoico-1251754029.cosgz.myqcloud.com/favicon.ico" />

{% if s %}
<title>{{s}}的搜索结果 - Mahouo搜索</title>
{% else %}
<title>Mahouo 搜索 - 最萌的搜索引擎</title>
{% endif %}

<meta name="description" content="Mahouo 最萌的搜索引擎"/>