<a href="https://www.mahouo.com/search?s={{s}}">
    <div id="se-mu-a-honer">
        <span>全部</span>
    </div>
</a>
<a href="">
    <div class="se-mu-a">
        <span>图片</span>
    </div>
</a>
<a href="https://search.bilibili.com/video?keyword={{s}}" target="_blank">
    <div class="se-mu-a">
        <span>视频</span>
    </div>
</a>
<!--
<a href="">
    <div class="se-mu-a">
        <span>新闻</span>
    </div>
</a>
-->
<a href="https://music.163.com/#/search/m/?s={{s}}" target="_blank">
    <div class="se-mu-a">
        <span>音乐</span>
    </div>
</a>