<div id="header" style="background-image: url(static/img/bk.png)">
    <div class="header-content in-wp">
        <div id="header-contpo">
            <div id="header-logo"><img src="static/img/logo.png"></div>
            <div id="header-search">{% include 'index/module-search.html' %}</div>
            <div id="header-user">{% include 'index/module-user.html' %}</div>
        </div>
        <div id="top-nav">
            <a class="header-nav_a" onclick="alert('如浏览器不支持 请拜托一下你手动设置了哟~')" href="javascript:void(0)">设为首页</a>
            <a class="header-nav_a" href="https://www.mahouo.com" target="_blank">Mahouo搜索</a>
        </div>
    </div>
</div>