<div class="section-focus-pic" id="section-focus-pic">
	<div class="pages" data-scro="list">
		<ul id="carousel-api">

			<li class="item" style="left:0px;">
				<a href="https://www.bilibili.com/bangumi/media/md8932" target="_blank"><img src="static/img/carousel/20180513.jpg" height="100%">
					<h3><span style="color:#FFF;text-decoration:none;">《龙王的工作》八一老爷生前也是个体面人</span></h3>
					<div></div>
				</a>
            </li>
			
			<li class="item">
				<a href="https://www.bilibili.com/bangumi/media/md2682" target="_blank"><img src="static/img/carousel/20180513-2.jpg" height="100%">
				<h3><span style="color:#FFF;text-decoration:none;">《萝球社》经典运动作品回顾</span></h3>
				<div></div>
				</a>
            </li>

		</ul>
	</div>
	<div class="controler" data-scro="controler">
		<b class="down">1</b>
		<b>2</b>
	</div>
	<div class="controler2" data-scro="controler2">
		<a href="javascript:;" class="prev hvr-fade-controler"><img src="static/img/carousel_l.png"></a>
		<a href="javascript:;" class="next hvr-fade-controler"><img src="static/img/carousel_r.png"></a>
	</div>
</div>

<script type="text/javascript" src="/static/js/index-carousel.js"></script>