<div id="common-search">
    <link rel="stylesheet" type="text/css" href="static/css/common-search.css">
    <div class="common-search searchty">
        <img class="common-search searchty-img" src="static/img/search-baidu.png">
        <div class="common-search searchty-name">百度</div>
        <div class="common-search searchty-name">∨</div>
    </div>
    <form id="header-search-input" action="https://www.baidu.com/baidu" target="_blank">
        <input name="tn" type="hidden" value="SE_zzsearchcode_shhzc78w">
        <div id="header-search-input-r"><input type="submit" value='' class="searchinput butt" style="background-image: url(static/img/common-search-butt.png)"></div>
        <div id="header-search-input-l"><input type="search" class="searchinput input" type=text name=word size=30></div>
    </form>
</div>