<div id="module-bangumi">
    <style>.module-bangumi-tab-a{cursor:pointer}.module-bangumi_animelist{display: none;}.module-bangumi_anime-title{color: #000;}.mi {
        width: 70%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space:nowrap;
    }</style>
        <div id="module-bangumi-tab">
            <div id="module-bangumi-title">连载新番</div>
            <div id="module-bangumi-title-r-sel">
                <li><div class="module-bangumi-tab-a module-bangumi-tab-a_hot">全部</div></li>
                <li><div class="module-bangumi-tab-a">周一</div></li>
                <li><div class="module-bangumi-tab-a">周二</div></li>
                <li><div class="module-bangumi-tab-a">周三</div></li>
                <li><div class="module-bangumi-tab-a">周四</div></li>
                <li><div class="module-bangumi-tab-a">周五</div></li>
                <li><div class="module-bangumi-tab-a">周六</div></li>
                <li><div class="module-bangumi-tab-a">周日</div></li>
            </div>
        </div>
        
        <div class="module-bangumi_animelist-content" id="module-bangumi_content">
            <lu class="module-bangumi_animelist" id="bangumiapi-all" style="display: block;"></lu>
            <lu class="module-bangumi_animelist" id="bangumiapi-day1"></lu>
            <lu class="module-bangumi_animelist" id="bangumiapi-day2"></lu>
            <lu class="module-bangumi_animelist" id="bangumiapi-day3"></lu>
            <lu class="module-bangumi_animelist" id="bangumiapi-day4"></lu>
            <lu class="module-bangumi_animelist" id="bangumiapi-day5"></lu>
            <lu class="module-bangumi_animelist" id="bangumiapi-day6"></lu>
            <lu class="module-bangumi_animelist" id="bangumiapi-day7"></lu>
        </div>
        <!--
                                <div class="module-bangumi_animelist">
                            <div class="module-bangumi_anime-a">
                                <div class="module-bangumi_anime-img">
                                    <img src="1.jpg" width="100%">
                                </div>
                                <div class="module-bangumi_anime-title">
                                    龙王的笔记
                                </div>
                            </div>
                        </div>
        -->
    </div>